@model FP.Cloud.OnlineRateTable.Web.Models.ViewModels.ProductCalculationViewModel

@if (ViewData.ContainsKey("Pcalc"))
{
    var pcalc = ((FP.Cloud.OnlineRateTable.Common.ProductCalculation.RequestDescriptionInfo)ViewData["Pcalc"]);
    Model.RequestValueModel.Label = pcalc.Label;
    Model.RequestValueModel.FormatString = pcalc.DisplayFormat;
    <div>
        <h4>Please enter a value</h4>
        <hr />
        <div class="text-center">
            @pcalc.DescriptionTitle
        </div>
        @using (Html.BeginForm("RequestValue", "ProductCalculation", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.RequestValueModel.Label);
            @Html.HiddenFor(model => model.RequestValueModel.FormatString);
            @Html.HiddenFor(model => model.QueryType);

            if (Model.QueryType == FP.Cloud.OnlineRateTable.Common.ProductCalculation.EQueryType.RequestPostage)
            {
                @Html.LabelFor(model => model.RequestValueModel.EnteredPostageValue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.EditorFor(model => model.RequestValueModel.EnteredPostageValue, new { htmlAttributes = new { @class = "form-control", @type = "number"} })
                    @Html.ValidationMessageFor(model => model.RequestValueModel.EnteredPostageValue, "", new { @class = "text-danger" })
                </div>
            }
            else
            {
                @Html.EditorFor(model => model.RequestValueModel.EnteredStringValue);
            }
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="OK" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}