@model FP.Cloud.OnlineRateTable.Web.Models.ViewModels.StartCalculationViewModel
<div>
    @{
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        var environments = ViewData.ContainsKey(FP.Cloud.OnlineRateTable.Web.Controllers.ProductCalculationController.ENVIRONMENT) ?
        ((IEnumerable<FP.Cloud.OnlineRateTable.Common.RateTable.RateTableInfo>)ViewData[FP.Cloud.OnlineRateTable.Web.Controllers.ProductCalculationController.ENVIRONMENT]) : null;
        if (null != environments)
        {
            using (Html.BeginForm("Start", "ProductCalculation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.QueryType);
                <div class="form-group">
                    @Html.LabelFor(model => model.SelectedRateTable, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.DropDownListFor(model => model.SelectedRateTable, environments.Select(e => new SelectListItem { Text = e.Culture, Value = e.Id.ToString() }), new { htmlAttributes = new { @class = "form-control" } } )
                        @Html.ValidationMessageFor(model => model.SelectedRateTable, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SenderZip, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.SenderZip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SenderZip, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="submit" value="Start Product Calculation" class="btn btn-primary btn-md btn-block" />
            }
        }
      }
</div>
