@model IEnumerable<FP.Cloud.OnlineRateTable.Common.RateTable.RateTableInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Variant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VersionNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarrierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarrierDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Culture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Variant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarrierId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarrierDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Culture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
